{% extends 'base.html' %}
{% block content %}
<div id="L">
<h2>My Application:</h2>
<ul>
  <li><a target="_blank" href="/blog" title="我的博客, 欢迎订阅">23号博客</a></li>
</ul>

<h2>Google Code:</h2>
<ul>
  <li><a target="_blank" href="http://code.google.com/p/n23" title="本网站源代码，包含博客系统，欢迎下载">网站源码下载</a></li>
  <li><a target="_blank" href="http://code.google.com/p/mylibs" title="记录点滴: 程序源码, 学习笔记, 帮忙手册...">My Library Project</a></li>
  <li><a target="_blank" href="http://code.google.com/p/djangobbs" title="BBS on Django">DjangoBBS</a></li>
</ul>

<h2>Bookmarks:</h2>
<ul>
  <li><a target="_blank" href="https://mail.google.com" title="我的邮箱: No.0023@gmail.com, 欢迎来信">Gmail</a></li>
  <li><a target="_blank" href="http://mail.qq.com" title="QQ 邮箱: No.0023@QQ.com, QQ号码: 85800355, Q我一下... :-)">QQMail</a></li>
  <li><a target="_blank" href="http://www.openbsdonly.org" title="执著、专注、坚持 -- OpenBSD 操作系统用户组">OpenBSDOnly.org</a></li>
  <li><a target="_blank" href="http://bbs.chinaunix.net" title="中国最大的Linux/Unix技术社区">ChinaUnix.net</a></li>
  <li><a target="_blank" href="https://www.google.com/reader/view" title="告诉我你的博客地址，我要加你">Google Reader</a></li>
  <li><a target="_blank" href="https://www.google.com/calendar/render">Google Calendar</a></li>
  <li><a target="_blank" href="http://www.google.cn/dictionary">Google Dictionary</a></li>
  <li><a target="_blank"
  href="http://www.google.com/coop/cse?cx=010919319338637993103:tbj32k05kdw&hl=zh-CN" title= "有事没事搜一下">23号搜索引擎</a></li>
</ul>
</div>

<div id="R">
<script type="text/javascript" src="/static/scripts/rotatorImg.js"></script>
<script type="text/javascript">
{{ img_data }}
/*
var rotateDATA = [
  {imgSRC : '/static/images/OpenBSD/bbs.png'},
  {imgSRC : '/static/images/OpenBSD/desktop.png'},
  {imgSRC : '/static/images/OpenBSD/f2.png'},
  {imgSRC : '/static/images/OpenBSD/Firefox.png'},
  {imgSRC : '/static/images/OpenBSD/menu.png'},
  {imgSRC : '/static/images/OpenBSD/office.png'},
  {imgSRC : '/static/images/OpenBSD/pflogI.png'},
  {imgSRC : '/static/images/OpenBSD/pftop.png'},
  {imgSRC : '/static/images/OpenBSD/pidgin.png'},
  {imgSRC : '/static/images/OpenBSD/HalloFF.png'},
  {imgSRC : '/static/images/OpenBSD/My_Chaos.png'}];
*/
var rotator = new ETNGrotator(rotateDATA, 'rotateIMG', 800, 500);
rotator.loop('rotator');
</script>
</div>

{% endblock %}
