<table width="100%"><tr>
<td align="left"> 
<a href="/blog/" title="博客首页">首 页</a> | 
{% if self.is_admin %}
<a href="/blog/newpost" title="发表新文章">发表新文章</a> | 
<a href="/blog/custom" title="配置">配置</a> | 
<a href="/blog/filemanager" title="文件管理"><span>上载文件管理</span></a> | 
{% endif %}
<a target="_blank" href="http://code.google.com/p/n23" title="网站源码下载"><font color="red">网站源码下载</font></a>  | 
<a target="_blank" href="http://code.google.com/p/mylibs" title="notes, OpenBSD, Python..."><font color="red">My Library Project</font></a>
</td>
</tr></table>
<!--
<ul>
	<li class="first{% ifequal self.current_page "home" %} selected{% endifequal %}"><a href="/blog/"><span>首页</span></a></li>
	{% if self.is_admin %}
	<li{% ifequal self.current_page "new" %} class="selected"{% endifequal %}><a href="/blog/newpost"><span>发表新文章</span></a></li>
	<li{% ifequal self.current_page "config" %} class="selected"{% endifequal %}><a href="/blog/custom"><span>配置</span></a></li>
	<li{% ifequal self.current_page "upload" %} class="selected"{% endifequal %}><a href="/blog/filemanager"><span>上载文件管理</span></a></li>
	{% endif %}
	<li{% ifequal self.current_page "about" %} class="selected"{% endifequal %}><a href="#"><span>About</span></a></li>
   <li><a target="_blank" href="http://code.google.com/p/n23"><span>网站源码下载</span></a></li>
   <li><a target="_blank" href="http://code.google.com/p/mylibs"><span>My Library Project</span></a></li>
   <br style="clear:both" />
</ul>-->
