{% extends theme.base %}

{% block title %}{% if tag %}Tag: {{ tag }} - {% endif %}{{ config.blog_title }} {% endblock %}

{% block feed %}
{% if tag %}
	<link rel="alternate" type="application/rss+xml" title="{{ config.blog_title }} >> tag: {{ tag }}" href="{{ config.default_host }}/blog/feed/tag/{{ tag }}" />
{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ config.blog_title }}" href="{{ config.default_host }}/blog/feed" />
{% endblock %}

{% block content %}
{% for post in posts %}
{% include theme.post_item %}
{% endfor %}
<br />
<div id="page_panel">
{% if tag %}标签: {{ tag }}{% endif %} 共有文章{{ post_count }}篇 第({{ page }}/{{max_page}})页
{% if show_prev %}
<a href="/blog/{% if tag %}tag/{{ tag }}/{% endif %}page/1" title=首页"">首页</a>
<a href="/blog/{% if tag %}tag/{{ tag }}/{% endif %}page/{{ prev }}" title="上一页">上一页</a>
{% else %}
首页
上一页
{% endif %}
{% for page_cnt in page_list %}
<a href="/blog/{% if tag %}tag/{{ tag }}/{% endif %}page/{{ page_cnt }}" title="第{{ page_cnt }}页">{{ page_cnt }}</a>
{% endfor %}
...
{% if show_next %}
<a href="/blog/{% if tag %}tag/{{ tag }}/{% endif %}page/{{ next }}" title="下一页">下一页</a>
<a href="/blog/{% if tag %}tag/{{ tag }}/{% endif %}page/{{max_page}}" title="末页">末页</a>
{% else %}
下一页
末页
{% endif %}
</div>
{% endblock %}
