{% extends 'base.html' %}
{% block content %}
<div id="L">
<h2>My Application:</h2>
<ul>
  <li><a target="_blank" href="/blog">23号博客</a></li>
</ul>

<h2>Google Code:</h2>
<ul>
  <li><a target="_blank" href="http://code.google.com/p/n23">网站源码下载</a></li>
  <li><a target="_blank" href="http://code.google.com/p/mylibs">My Library Project</a></li>
  <li><a target="_blank" href="http://code.google.com/p/djangobbs">DjangoBBS</a></li>
</ul>

<h2>Bookmarks:</h2>
<ul>
  <li><a target="_blank" href="https://mail.google.com">Gmail</a></li>
  <li><a target="_blank" href="http://mail.qq.com">QQMail</a></li>
  <li><a target="_blank" href="http://www.openbsdonly.org">OpenBSDOnly.org</a></li>
  <li><a target="_blank" href="http://bbs.chinaunix.net">ChinaUnix.net</a></li>
  <li><a target="_blank" href="https://www.google.com/reader/view">Google Reader</a></li>
  <li><a target="_blank" href="https://www.google.com/calendar/render">Google Calendar</a></li>
  <li><a target="_blank" href="http://www.google.cn/dictionary">Google Dictionary</a></li>
  <li><a target="_blank" href="http://www.google.com/coop/cse?cx=010919319338637993103:tbj32k05kdw&hl=zh-CN">23号搜索引擎</a></li>
</ul>
</div>

<div id="R">
<script type="text/javascript" src="/static/scripts/rotatorImg.js"></script>
<script type="text/javascript">
{{ img_data }}
/*
var rotateDATA = [
  {imgSRC : '/static/images/OpenBSD/bbs.png'},
  {imgSRC : '/static/images/OpenBSD/desktop.png'},
  {imgSRC : '/static/images/OpenBSD/f2.png'},
  {imgSRC : '/static/images/OpenBSD/Firefox.png'},
  {imgSRC : '/static/images/OpenBSD/menu.png'},
  {imgSRC : '/static/images/OpenBSD/office.png'},
  {imgSRC : '/static/images/OpenBSD/pflogI.png'},
  {imgSRC : '/static/images/OpenBSD/pftop.png'},
  {imgSRC : '/static/images/OpenBSD/pidgin.png'},
  {imgSRC : '/static/images/OpenBSD/HalloFF.png'},
  {imgSRC : '/static/images/OpenBSD/My_Chaos.png'}];
*/
var rotator = new ETNGrotator(rotateDATA, 'rotateIMG', 800, 500);
rotator.loop('rotator');
</script>
</div>

{% endblock %}

